*.pc
*.la
*.lo
*.o
CMakeCache.txt
CMakeFiles
Makefile
CPackConfig.cmake
CPackSourceConfig.cmake
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
cmake_install.cmake
cmake_uninstall.cmake
install_manifest.txt
doc/doxygen.cfg
doc/html
src/iomultiplex.hpp
src/libiomultiplex.so*
