sync-file-read
async-file-read
tls-connect
echo-udp-client
echo-udp-server
echo-tcp-server
echo-tcp-client
echo-tls-server
echo-tls-client
echo-dtls-client
echo-dtls-server
echo-server
echo-client
beacon-server
beacon-client
adapter-test
iom-tftp/iom-tftpd
iom-tftp/iom-tftp

